<div class="image-container set-full-height">
  <!--   Big container   -->
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">

        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card wizard-card" data-color="blue" id="wizard">
            <form action="" method="">
              <!--        You can switch ' data-color="green" '  with one of the next bright colors: "blue", "green", "orange", "red"          -->

              <%= render 'wizard/wizard_header' %>
              <%= render 'wizard/wizard_navigation' %>

              <div class="tab-content">
                <div class="tab-pane" id="criteria">
                  <div class="row content-section">
                    <div class="col-sm-12">
                      <h4 class="info-text"> Let's start with the basic details</h4>
                    </div>
                    <!-- 2 renders make one row, check column count before refactoring/changing -->
                    <%= render 'wizard/destination' %>
                    <%= render 'wizard/pre-departure_details' %>
                    <div class="row content-section">
                      <div class="col-sm-12">
                        <h4 class="info-text">How will you get around on your trip? </h4>
                        <!-- one render comprises of 3 col-sm-4 sections -->
                        <%= render 'wizard/transport_select' %>
                      </div>
                    </div>


                    <div class="row content-section">
                      <h4 class="info-text">Tell us more about your preferences. </h4>
                      <!-- 2 rendres make 2 col-sm-5 divs -->
                      <%= render 'wizard/distance_preference' %>
                      <%= render 'wizard/hotel_preference' %>
                    </div>
                    <div class="row content-section">
                      <div class="col-sm-12">
                        <h4 class="info-text">Required amenities</h4>
                        <!-- each render represents a separate category subdivided in rows and stacked like tables -->
                        <%= render 'wizard/productivity' %>
                        <%= render 'wizard/leisure' %>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="result">
                    <div class="row">
                      <div class="col-sm-12">
                      <h4 class="info-text"> Based on your input and hotel availability, these are the hotels we would recommend. </h4> 
                        <%= render 'wizard/hotel-list' %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12" id="map">
                        <iframe width="598" height="450" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAW0qSs1xYc0ktKot-pXuidxKLKvK0Uyrg&#10; &amp;origin=Newark+Liberty+International+Airport+(EWR) &amp;waypoints=The+Benjamin+Hotel,+East+50th+Street,+New+York,+NY,+USA&amp;destination=LEGOLAND®+Discovery+Center+Westchester&amp;mode=driving" allowfullscreen=""></iframe> 
                      </div>
                    </div>
                  </div>
                  <%= render 'wizard/wizard_footer' %>
                </div>
            </form>
              </div>
          </div> <!-- wizard container -->
        </div> <!-- col-sm-8 container -->
      </div> <!-- row -->
    </div> <!--  big container -->
  </div> <!-- page container -->

  <div class="footer">
    <div class="container">
    </div>
  </div>


